<!--Alert-->
<div class="container" *ngIf="displayRoomBookedToast" >
  <div class="row justify-content-center">
    <div class="alert alert-success" style="margin-top: 28px"role="alert">
      La salle a bien été réservée
    </div>
  </div>
</div>
<div class="container" *ngIf="isLoadingRooms === false">
  <div class="row justify-content-center" *ngFor="let room of roomsService.rooms">
    <ng-container *ngIf="room.matchCriterias(searchCriterias) && room.isAvailable">
      <div style="margin: 20px" class="card">
        <div class="card-body">
          <div class="row">
            <div class="col col-auto">
              <div>Nom : {{room.name}}</div>
              <div>Description : {{room.description}}</div>
              <div>Capacité : {{room.capacity}} personnes</div>
              <div>Equipements : {{room.getEquipmentString()}}</div>
            </div>
            <div class="col col-auto">
              <button [disabled]="isReservationLoading" style="position: relative; top: 25%" type="button"
                      (click)="bookRoom(room)" class="btn btn-primary">Reserver
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
